@value primary-color, primary-color-10, neutral-100 from "../styles/colors.css";

.primary {
  background-color: primary-color-10;
  border-radius: 0.5rem;
  color: primary-color;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}

.secondary {
  background-color: neutral-100;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}
